<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

	<div class="layui-fluid ping-erp-edit-content-div">
		<form class="layui-form layui-form-pane" action="">
			<input name="userId" type="hidden" th:value="${baseUser?.userId}" />

			<div class="layui-form-item">
				<label class="layui-form-label">公司</label>
				<div class="layui-input-inline ping-erp-edit-input-div-lastinput">
					<select name="company.companyId">
						<option th:each="data:${companyList}" th:value="${data.companyId}" th:text="${data.companyName}" th:selected="${data.companyId==baseUser?.company?.companyId}?'selected'"></option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">用户名称</label>
				<div class="layui-input-inline ping-erp-edit-input-div-lastinput">
					<input name="userName" type="text" class="layui-input" placeholder="用户名称" th:value="${baseUser?.userName}" autocomplete="off" lay-verify="required|length20" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">身份证号</label>
				<div class="layui-input-inline ping-erp-edit-input-div-lastinput">
					<input name="userCard" type="text" class="layui-input" placeholder="身份证号" th:value="${baseUser?.userCard}" autocomplete="off" lay-verify="identity|length18" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-input-inline ping-erp-edit-input-div-lastinput">
					<input name="userPhone" type="text" class="layui-input" placeholder="手机号码" th:value="${baseUser?.userPhone}" autocomplete="off" lay-verify="phone|length12" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">电子邮箱</label>
				<div class="layui-input-inline ping-erp-edit-input-div-lastinput">
					<input name="userEmail" type="text" class="layui-input" placeholder="电子邮箱" th:value="${baseUser?.userEmail}" autocomplete="off" lay-verify="email|length50" />
				</div>
			</div>

			<div class="layui-form-item ping-erp-edit-button-div">
				<button type="button" class="layui-btn" id="system-baseUser-edit-btn-1" lay-filter="system-baseUser-edit-btn-1" lay-submit="">保存</button>
			</div>
		</form>
	</div>

</body>
</html>