<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

	<div class="layui-fluid ping-erp-edit-content-div">
		<form class="layui-form layui-form-pane" action="">
			<input name="userId" type="hidden" th:value="${baseUser?.userId}" />

			<div class="layui-form-item">
				<label class="layui-form-label">旧密码</label>
				<div class="layui-input-inline">
					<input name="password" type="password" class="layui-input" placeholder="旧密码" autocomplete="off" lay-verify="required|length20" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-inline">
					<input id="system-baseUser-passwordEdit-input-password" type="password" class="layui-input" placeholder="新密码" autocomplete="off" lay-verify="required|length20" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-inline">
					<input name="passwordNew" type="password" class="layui-input" placeholder="新密码" autocomplete="off" lay-verify="required|length20|password" />
				</div>
			</div>


			<div class="layui-form-item">
				<button type="button" class="layui-btn" id="system-baseUser-passwordEdit-btn-1" lay-filter="system-baseUser-passwordEdit-btn-1" lay-submit="">保存</button>
			</div>
		</form>
	</div>

	<script th:src="@{/js/system/baseUser/passwordEdit.js}"></script>

</body>
</html>