<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=devic-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

	<div class="ping-erp-index-content-div">
		<div class="layui-btn-group">
			<button id="system-baseMenu-index-btn-1" class="layui-btn">增加</button>
			<button id="system-baseMenu-index-btn-2" class="layui-btn">编辑</button>
			<button id="system-baseMenu-index-btn-3" class="layui-btn">删除</button>
		</div>

		<div class="layui-inline">
			<input id="system-baseMenu-index-key-1" type="text" class="layui-input" placeholder="PID丨名称丨链接" autocomplete="off" />
		</div>
		<button id="system-baseMenu-index-btn-4" class="layui-btn">搜索</button>

		<table id="system-baseMenu-index-table-1" lay-filter="system-baseMenu-index-table-1"></table>
	</div>

	<script th:src="@{/js/system/baseMenu/index.js}"></script>

</body>
</html>