<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

	<div class="layui-fluid ping-erp-edit-content-div">
		<form class="layui-form layui-form-pane" action="">
			<input name="customerId" type="hidden" th:value="${baseCustomer?.customerId}" />
			
			<div class="layui-form-item">
				<label class="layui-form-label">客户名称</label>
				<div class="layui-input-inline ping-erp-edit-input-div-lastinput">
					<input name="customerName" type="text" class="layui-input" placeholder="客户名称" th:value="${baseCustomer?.customerName}" autocomplete="off" lay-verify="required|length20" />
				</div>
			</div>
			
			<div class="layui-form-item ping-erp-edit-button-div">
				<button type="button" class="layui-btn" id="sale-baseCustomer-edit-btn-1" lay-filter="sale-baseCustomer-edit-btn-1" lay-submit="">保存</button>
			</div>
		</form>
	</div>

</body>
</html>