<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

	<div class="layui-fluid ping-erp-edit-content-div">
		<form class="layui-form layui-form-pane" action="">
			<input name="authId" type="hidden" th:value="${baseAuth?.authId}" />
			
			<div class="layui-form-item">
				<label class="layui-form-label">菜单ID</label>
				<div class="layui-input-inline">
					<input name="menuId" type="text" class="layui-input" placeholder="菜单ID" th:value="${baseAuth?.menuId}" autocomplete="off" lay-verify="required" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">权限链接</label>
				<div class="layui-input-inline">
					<input name="authHref" type="text" class="layui-input" placeholder="权限链接" th:value="${baseAuth?.authHref}" autocomplete="off" lay-verify="required" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">创建时间</label>
				<div class="layui-input-inline">
					<input name="createTime" type="text" class="layui-input" placeholder="创建时间" th:value="${baseAuth?.createTime}" autocomplete="off" lay-verify="required" />
				</div>
			</div>
			
			<div class="layui-form-item ping-erp-edit-button-div">
				<button type="button" class="layui-btn" id="system-baseAuth-edit-btn-1" lay-filter="system-baseAuth-edit-btn-1" lay-submit="">保存</button>
			</div>
		</form>
	</div>

</body>
</html>